<div class="max-w-[1170px] mx-auto py-6 pt-36">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-4">
      <div class="w-5 h-10 bg-red-500 rounded"></div>
      <div>
        <p class="text-red-500 font-bold">Featured</p>
        <h1 class="font-bold text-3xl">New Arrival</h1>
      </div>
    </div>
  </div>
  <div class="flex justify-between">
      <div>
          <img src="/images/ps5.svg" alt="">
      </div>
      <div class="flex flex-col justify-between">
          <div>
            <img src="/images/women's-coll.svg" alt="">
          </div>
          <div class="flex gap-8">
            <img src="/images/speaker.svg" alt="">
            <img src="/images/perfumes.svg" alt="">
          </div>
      </div>
  </div>
</div>