<!-- ✅ Slideshow Mode -->
@if (mode === 'slideshow') {
  <div class="carousel-container">
    @for (item of items; track $index) {
      <div [style.overflow]="'hidden'">
        @if (!itemTemplate) {
          <img
            [src]="item.imageSrc"
            [alt]="item.imageAlt"
            [ngClass]="{ 'image-active': selectedIndex === $index }"
          />
        } @else {
          <ng-container
            [ngTemplateOutlet]="itemTemplate"
            [ngTemplateOutletContext]="{ $implicit: item, index: $index }"
          ></ng-container>
        }
      </div>
    }

    <!-- Dots -->
    @if (indicators) {
      <div class="carousel-dot-container">
        @for (dot of items; track $index) {
         <span
  class="dot"
  [ngClass]="{ active: selectedIndex === $index }"
  (click)="selectImage($index)"
  (keydown.enter)="selectImage($index)"  
  (keydown.space)="selectImage($index)"  

></span>

        }
      </div>
    }
  </div>
}

<!-- ✅ Scroll Mode -->
@if (mode === 'scroll') {
  <div
    #viewport
    class="overflow-x-auto scroll-smooth [scrollbar-width:none] [-ms-overflow-style:none]"
  >
    <div class="flex min-w-full pr-2" [ngClass]="gapClass">
      @for (item of items; track $index) {
        <div data-card="true" [ngClass]="cardWrapperClasses">
          @if (itemTemplate) {
            <ng-container
              [ngTemplateOutlet]="itemTemplate"
              [ngTemplateOutletContext]="{ $implicit: item, index: $index }"
            ></ng-container>
          } @else {
            <img [src]="item.imageSrc" [alt]="item.imageAlt" />
          }
        </div>
      }
    </div>
  </div>
}
